* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  outline: 0;
}
.container {
  width: 80%;
  margin: 0 auto;
}
.play-btn {
  text-align: center;
  font-size: 2rem;
  margin-top: 30px;
  cursor: pointer;
}
.player {
  display: flex;
  justify-content: center;
  align-items: center;
}
.time-start {
  margin-right: 5px;
}
.progress-bar {
  position: relative;
  width: 100%;
  height: 15px;
  border-radius: 5px;
  background: gray;
  margin: 30px 10px;
  cursor: pointer;
}
.progress-bar .progress {
  position: absolute;
  background: rgb(88, 217, 103);
  top: 0;
  left: 0;
  bottom: 0;
  border-radius: 5px;
}
.progress-bar .progress .dot {
  position: absolute;
  right: 0;
  top: 50%;
  bottom: 0;
  width: 25px;
  height: 25px;
  display: block;
  border-radius: 50%;
  background: #ccc;
  translate: 50% -50%;
}
.time-hover {
  position: absolute;
  background-color: #383333;
  translate: -25% -150%;
  padding: 5px;
  color: #fff;
  border-radius: 5px;
}
.time-hover::after {
  position: absolute;
  content: "";
  border-color: #383333;
  border-top: 5px;
}

.karaoke .play {
  text-align: center;
  border: none;
  display: block;
  margin: 30px auto;
  background-color: blueviolet;
  color: #fff;
  padding: 5px 15px;
  cursor: pointer;
}

.karaoke .karaoke-inner {
  position: fixed;
  left: 0;
  right: 0;
  top: 100%;
  z-index: 100;
  background-color: blueviolet;
  color: #fff;
  transition: top 0.4s ease;
}

.karaoke .karaoke-inner.show {
  top: 0;
}

.karaoke .karaoke-container {
  min-width: 90%;
  margin: 0 auto;
}

.karaoke .karaoke-heading {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.karaoke .karaoke-content {
  font-size: 5vw;
  font-weight: bold;
  text-align: center;
  height: 80vh;
  align-items: center;
  justify-content: center;
  display: flex;
  flex-direction: column;
}

.karaoke .karaoke-content p {
  margin: 15px 0;
}

.karaoke .karaoke-content .word {
  position: relative;
  margin: 0 5px;
}

.karaoke .karaoke-content .word span {
  position: absolute;
  top: 0;
  left: 0;
  width: 0;
  overflow: hidden;
  display: inline-block;
  color: rgb(252, 181, 0);
}
